* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;;
}

:root {
  --badge-light-blue: #5889e5;
  --badge-dark-blue: #2e4475;
  --card-dark-blue: #3d63a4;
  --card-light-blue: #4268af;
}

a {
  text-decoration: none !important;
}

body {
  min-height: 100vh;
  background-color: var(--badge-light-blue) !important;
}

.background-light-blue {
  background-color: var(--badge-light-blue);
}

.background-dark-blue {
  background-color: var(--badge-dark-blue) !important;
}
